[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "zprezto-upstream"]
	path = zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "config/kitty/kitty-themes"]
	path = config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
